@media (max-width: 576px) {
  .sidebar {
    display: none;
  }
  .header--top{
   width: 95%;
   padding: 0;
  }
  .header__icon{
    justify-content: flex-end;
  }
  
  .search {
    width: 90px;
  
    
  }
  .search form {
    border-radius: 50%;
    border: none;
    
  }
  .search button {
    background-color: #fff;
  }
  .container {
    margin-left: 0px;
  }
  .category {
    /* margin-left: 20px; */
  }
  main {
    margin-left: 0px;
  }
  .icons-group--right {
    display: inline-flex;
   
  }
  .content {
    grid-template-columns: auto;
   
    margin-top: 120px;
    /* margin-left: 25px; */
  }
  .contents__item{
    margin: 0 auto;
    max-width: 300px;
  }
  .contents__container {
    max-width: 300px;
  }
   .contents__icon {
    right: -15px;
  }
  
  h2 {
    margin-left: 50px;
  }
  .short-container {
    grid-template-columns: auto;
    
  }
  .contents-short__item {
    width: 100%;
    margin: 0 auto;
  }
  .short-item-video {
    
  }
}
@media (max-width: 768px) and (min-width: 576px) {
  .sidebar {
    width: 8%;
  }
  .header--top{
    width: 95%;
  }
  .nav-link {
    padding: 12px 25px;
    margin: 0 5px;
    border-radius: 15px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .nav-link span {
    margin-left: 0px;
    display: none;
    font-size: 8px;
  }
  .nav-link--active {
    background-color: #fff;
  }

  .container {
    margin-left: 10px;
  }
  nav p {
    display: none;
  }
  main {
    margin-left: 18px;
  }
  .category {
    margin-left: 30px;
  }
  .icons-group--right {
    display: inline-flex;
  }
  .contents__icon {
    right: 5px;
  }
  .content {
    grid-template-columns: auto auto;
    gap: 10px;
  }
  .contents__container {
    width: 325px;
  }
  h2 {
    margin-left: 35px;
  }
  .short-container {
    grid-template-columns: repeat(7, auto);
   margin-left: 20px;
    grid-row: 1;
    max-width: 768px;
   
    

  }
}
